<div class="ui dimmer visible active" (click)="onClickModalClose()">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="icon close" (click)="onClickModalClose()"></i>
        <div class="header">
            <ng-content select=[modalHeader]></ng-content>
            
        </div>
        <div class="content">
            <ng-content></ng-content>
            
        </div>
        <div class="actions">
            <ng-content select=[modalFooter]></ng-content>
        </div>
        <div class="actions actions-default">
            <button class="ui button" (click)="onClickModalClose()">Ok</button>
        </div>
    </div>
</div>